TAGS
aclocal.m4
autom4te.cache
build-aux
config.log
config.status
configure
env
grip-*.tar.gz
Makefile
Makefile.in
meta/guild
meta/grip-1.0.pc
meta/grip-sqlite-1.0.pc
meta/grip-gnome-1.0.pc
meta/grip-clutter-1.0.pc
doc/version.texi
doc/stamp-vti
doc/grip.t2p
grip/clutter/misc
grip/clutter/examples/bouncer
grip/clutter/examples/clock
grip/clutter/examples/grid
grip/clutter/examples/hello
grip/clutter/examples/spline
grip/clutter/examples/template
grip/clutter/examples/toolbar
grip/clutter/examples/toolbar.scm.prev
*~
*.aux
*.cp
*.cps
*.fn
*.ky
*.log
*.pg
*.toc
*.tp
*.vr
*.html
*.info
*.pdf
*.go
